h1 {
  text-align: center;
}

.top {
  margin-top: 5%;
}

.main-center {
  margin:0 auto;
  margin-left: 35%;
}

.center {
  margin:0 auto;
  margin-left: 15%;
}

.margin-top {
    margin-top: 10px;
}
